<div class="pagina">
  <div class="form">
    <h1>Crear cuenta</h1>
    <p class="sub">¿Ya tenés cuenta? <a routerLink="/login">Iniciar sesión</a></p>
    @if (error) { <div class="error">{{ error }}</div> }
    <label>Nombre completo</label>
    <input type="text"     [(ngModel)]="nombre"   placeholder="Tu nombre" />
    <label>Email</label>
    <input type="email"    [(ngModel)]="email"    placeholder="tu@email.com" />
    <label>Contraseña</label>
    <input type="password" [(ngModel)]="password" placeholder="Mínimo 6 caracteres" />
    <label>Carrera</label>
    <input type="text"     [(ngModel)]="carrera"  placeholder="Ej: Ingeniería en Sistemas" />
    <label>Año cursado</label>
    <select [(ngModel)]="anio">
      <option value="1">1° año</option>
      <option value="2">2° año</option>
      <option value="3">3° año</option>
      <option value="4">4° año</option>
      <option value="5">5° año</option>
    </select>
    <button (click)="registrar()">Crear cuenta</button>
  </div>
</div>
