<section class="nosotros-page">
  <div class="contenido">
    <h1>Sobre Nosotros </h1>
    <p>Upc cede Capilla del Monte - Programacion Full Stack - 2do año</p>
    <div class="info-card">
      <h2>Quiénes somos</h2>
      <p>Somos un grupo de estudiantes de la UPC que cursa la carrera de programacion Full Stack el equipo se compone por:
        <br> - Santiago Orlando Luna 
        <br> - Ivo Giuliano Capetto
        <br> - Martin Sanchez 
        <br> - Nicolas Fernandez Garcia
        <br> - Joaquin Grosso 
        <br> - Lautaro Lardit
      </p>
    </div>

    <div class="info-card">
      <h2>Objetivos</h2>
      <p>
        El objetivo del proyecto es desarrollar una aplicación web funcional que permita a los usuarios interactuar con el contenido del foro de manera eficiente y efectiva. <br>un lugar donde puedan compartir documentos de estudio, resumenes y otros materiales educativos,
         tambien un lugar donde puedan aclarar dudas o hacer preguntas entre compañeros. <br>otro de los objetivos que teniamos con este proyecto era ya que teniamos otro trabajo de
        otra materia "base de datos" una idea fue unificar los dos trabajos en uno para que el foro tuviera una base de datos propia usando las herramientas que 
        aprendiamos en esa materia lamentablemente ese objetivo no se llevo a cabo por cuestiones de tiempo y conocimientos.</p>
    </div>

    <div class="info-card">
      <h2>Contexto</h2>
      <p>
        El proyecto nace apartir de una de las tareas de una materia del primer cuatrimestre del segundo año en la materia de programacion web,
        tuvimos varias propuestas de proyectos y el que escojio la profe fue este de un foro, propusimos este proyecto porque nos parecio interesante y nos gustaria poder desarrollarlo y aprender de ello.
        <br>Este proyecto se desarrollo en un tiempo de 3 meses aproximadamente, y se fue desarrollando a medida que avanzaba la materia, con la colaboracion los miembros del grupo.
        <br>El que se puede ver aqui en la pagina seria como un prototipo de lo que seria el la idea final, ya que no se pudo desarrollar todo el proyecto por falta de tiempo y conocimientos, pero se logro desarrollar una parte importante del proyecto.
      </p>
    </div>
  </div>
</section>
