<section class="nosotros-page">
  <div class="contenido">
    <h1>Sobre Nosotros </h1>
    <p>Upc cede Capilla del Monte - Programacion Full Stack - 2do año</p>
    <div class="info-card">
      <h2>Quiénes somos</h2>
      <p>Somos un grupo de estudiantes de la UPC que cursa la carrera de programacion Full Stack el equipo se compone por:<br> - Santiago Luna <br> - Ivo Giuliano <br> - Martin Sanchez <br> - Nicolas Fernandez <br> - Joaquin Grosso <br> - Lautaro Lardit</p>
    </div>

    <div class="info-card">
      <h2>Objetivos</h2>
      <p>El objetivo del proyecto es desarrollar una aplicación web funcional que permita a los usuarios interactuar con el contenido del foro de manera eficiente y efectiva. y un lugar donde puedan compartir documentos de estudio, resumenes y otros materiales educativos, tambien un lugar donde puedan aclarar dudas o hacer preguntas entre compañeros.</p>
    </div>

    <div class="info-card">
      <h2>Contexto</h2>
      <p>El proyecto nace apartir de una de las tareas de una materia del primer cuatrimestre del segundo año en la materia de programacion web </p>
    </div>
  </div>
</section>
