<section class="nosotros-page">
  <div class="contenido">
    <h1>Sobre Nosotros</h1>
    <p>UPC sede Capilla del Monte - Programación Full Stack - 2do año</p>
    <div class="info-card">
      <h2>Quiénes somos</h2>
      <p>Somos un grupo de estudiantes de la UPC que cursa la carrera de Programación Full Stack. El equipo se compone por:
        <br> - Santiago Orlando Luna
        <br> - Ivo Giuliano Cappetto
        <br> - Martín Sánchez
        <br> - Nicolás Fernández García
        <br> - Joaquín Grosso
        <br> - Lautaro Lardit Gutierrez
      </p>
    </div>
    <div class="info-card">
      <h2>Objetivos</h2>
      <p>
        -El objetivo del proyecto es desarrollar una aplicación web funcional que permita a los usuarios interactuar con el contenido del foro de manera eficiente y efectiva. <br>
        -Buscamos crear un espacio donde los estudiantes puedan compartir documentos de estudio, resúmenes y otros materiales educativos, y donde también puedan despejar dudas o hacer preguntas entre compañeros, fomentando así el aprendizaje colaborativo y el intercambio de conocimientos dentro de la comunidad universitaria. <br>
        -Otro de los objetivos que teníamos con este proyecto era, ya que también teníamos otro trabajo de la materia "Base de Datos", unificar ambos trabajos en uno solo, de modo que el foro tuviera su propia base de datos utilizando las herramientas que estábamos aprendiendo en esa materia. Lamentablemente, ese objetivo no se llevó a cabo por cuestiones de tiempo y conocimientos. <br>
        -A pesar de esto, el proyecto cumplió con su propósito principal: sentar las bases de una plataforma pensada para facilitar la comunicación académica entre estudiantes, y dejar un punto de partida sólido para futuras mejoras o ampliaciones.
      </p>
    </div>
    <div class="info-card">
      <h2>Contexto</h2>
      <p>
        El proyecto nace a partir de una de las tareas de una materia del primer cuatrimestre del segundo año, en la materia de Programación Web.
        Tuvimos varias propuestas de proyectos, y la que escogió la profesora fue esta, la de un foro. Propusimos este proyecto porque nos pareció interesante y nos gustaría poder desarrollarlo y aprender de ello. <br>
        Este proyecto se desarrolló en un tiempo de 3 meses aproximadamente, y se fue construyendo a medida que avanzaba la materia, con la colaboración de todos los miembros del grupo. <br>
        Lo que se puede ver aquí en la página sería como un prototipo de lo que sería la idea final, ya que no se pudo desarrollar todo el proyecto por falta de tiempo y conocimientos, pero se logró desarrollar una parte importante del mismo.
      </p>
    </div>
  </div>
</section>